@import '~antd/dist/antd.css';

$bgColor: #333;
$borderColor: #999;
$textColor: #CCC;
$selectedBorder: #52c41a;

body {
  margin: 0;
  padding: 0;
  background: $bgColor;
}

h1, h2, h3, h4, h5, h6 {
  color: $textColor;
  font-weight: bold;
  margin: 0;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
  margin: 20px 0;
}

.App {
  margin: 0 auto;
  padding: 20px;
  width: 1080px;
}

.ant-input {
  color: $textColor;
  background: lighten($bgColor, 10%);
}

.select-options {
  width: 100%;
}

.checkbox {
  color: $textColor;
}

.divider {
  background: $borderColor;
}

.text {
  margin-top: 10px;
  color: $textColor;
  // padding: 0 10px;

  & .word {
    font-size: 24px;
    margin: 0 8px;
    user-select: none;
    border-radius: 4px;

    &:hover {
      cursor: pointer;
      background: transparentize($borderColor, 0.7);
      border: 1px solid $borderColor;
      padding: 2px 7px;
      margin: 0 0;
    }

    &.selected {
      border: 1px solid $selectedBorder;
      background: transparentize($selectedBorder, 0.9);
      padding: 2px 7px;
      margin: 0 0;
    }
  }
}

.actions {
  color: $textColor;
  border-color: $borderColor;
  border-style: solid;

  border-top-width: 1px;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;

  padding-top: 20px;
  margin-top: 10px;

  &.root {
    border-radius: 4px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    margin-bottom: 10px;
    padding-bottom: 20px;
  }

  .my-arrow {
    position: relative;
    top: -25px;
    width: 8px;
    height: 8px;
    border-style: solid;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-color: $borderColor;
    background: $bgColor;
    transform: translateX(-50%) rotate(45deg);
  }
}

.label-col {
  font-weight: bold;
}
