@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;
  background: #222222;
}

.App {
  text-align: center;
  margin: 0;
  padding: 20px;
}

.text {
  margin-top: 20px;
  color: #EEEEEE;

  & .word {
    font-size: 24px;
    margin: 0 8px;
    user-select: none;
    border-radius: 4px;

    &:hover {
      cursor: pointer;
      background: #333333;
      border: 1px solid #666666;
      padding: 2px 7px;
      margin: 0 0;
    }

    &.selected {
      border: 1px solid lime;
      padding: 2px 7px;
      margin: 0 0;
    }
  }
}

.menu {
  width: 280px;
}
